.App {
  text-align: center;
}

.hover-border {
  margin: 0 auto;
}

.hover-border:hover {
  text-decoration: underline;
  border: 5px solid #5bc0de;
}

.card-img-top {
  position: relative;
  top: 0;
  left: 0;
}

a.navbar-brand,
a.navbar-brand:hover {
  text-decoration: none;
  color: #fff;
}

a.nav-link {
  color: #fff;
}

a.nav-link:hover {
  cursor: pointer;
}

ul.navbar-nav {
  color: #fff;
}

li.nav-item:hover {
  background-color: #ebeaea;
  color: #000;
}

nav.navbar {
  background-color: #343a40;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  height: 56px;
  z-index: 1;
}

.navbar-div {
  margin-bottom: 20px;
}

.navbar-collapse {
  background-color: #343a40;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-toggler .icon-bar {
  color: #fff;
}

.light-icons {
  color: #fff;
}

div.icons {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
}

a span:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 10px;
}

.card-body {
  padding: 0 !important;
  font-weight: bold;
  color: #343a40;
}